.calculator-page {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.math-info {
  width: 40%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.math-icon {
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
  .calculator-page {
    display: flex;
    flex-direction: column;
  }

  .math-info {
    width: 100%;
  }

  .math-icon {
    display: none;
  }

  .calculator {
    margin: 0 auto;
  }
}
