@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
  background: #6e6e6e;
  height: 100vh;
}
